/* src/components/WeatherApp.css */
.weather-app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #333;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
}

.weather-app h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.weather-app label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.weather-app input {
  width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #444;
  color: white;
}

.weather-app button {
  background-color: #d9534f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.weather-app button:hover {
  background-color: #c9302c;
}

.weather-app .weather-result {
  margin-top: 20px;
  font-size: 18px;
}

.weather-item {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
