/* src/components/YouTubePlayer.css */

.youtube-player-container {
  width: 70%;
  margin: 20px auto;
}

.youtube-player {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
