/* src/components/YouTubePlayer.css */

.youtube-player-container {
  width: 70%;
  margin: 20px auto; /* Add some margin for spacing */
}

.youtube-player {
  width: 100%; /* Make the player responsive within its container */
  border-radius: 8px; /* Add border-radius for rounded corners */
  overflow: hidden; /* Hide any overflow to prevent unwanted scrollbars */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for a lifted appearance */
}
